<app-header></app-header>
<app-sub-header [title]="professor.full_name"></app-sub-header>
<div class="container">
  <div class="row">
    <h2>{{professor.full_name}}</h2>
    <ul *ngFor="let university of professor.universities">
      <li>{{university.name}}</li>
    </ul>
    <ul *ngFor="let subject of professor.subjects">
      <li>{{subject.name}}</li>
    </ul>

  </div>
  <div class="row">
    <div class="col-12 offset-lg-1 col-lg-1">
      <div class="post-share">
        <ul class="flex flex-wrap align-items-center p-0 m-0">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-thumb-tack"></i></a></li>
        </ul>
      </div><!-- .post-share -->
    </div><!-- .col -->

    <div class="col-12 col-lg-8">
      <div class="post-comments-wrap">
        <div class="post-comments">
          <h3 class="comments-title"><span class="comments-number">Отзывов {{professor.rating_count}}</span></h3>
          <ol class="comment-list">
            <li class="comment" *ngFor="let comment of professor.ratings">
              <article class="comment-body">
                <div class="comment-wrap">
                  <div class="comment-author">
                                            <span class="comment-meta d-block">
                                                <a href="#">{{comment.created_at}} {{comment.value}}</a>
                                            </span><!-- .comment-meta -->
                  </div><!-- .comment-author -->

                  <p>{{comment.review}}</p>

                </div><!-- .comment-wrap -->

                <div class="clearfix"></div>
              </article><!-- .comment-body -->
            </li><!-- .comment -->

          </ol><!-- .comment-list -->
        </div><!-- .post-comments -->

        <div class="comments-form">
          <div class="comment-respond">
            <h3 class="comment-reply-title">Оставить отзыв</h3>
            <div class="comment-form">
              <input type="email" placeholder="Email" [(ngModel)]="comment.email"/>
              <textarea rows="4" placeholder="Ваш отзыв" [(ngModel)]="comment.review"></textarea>
              <input type="text" placeholder="Оценка" [(ngModel)]="comment.value" />
              <button class="submit" (click)="addComment()">Отправить отзыв</button>
            </div><!-- .comment-form -->
          </div><!-- .comment-respond -->
        </div><!-- .comments-form -->
      </div><!-- .post-comments-wrap -->
    </div>
  </div>
</div>
<app-footer></app-footer>
