<app-header [current]="'login'"></app-header>
<app-sub-header [title]='"Войти"' [url]="'/login'"></app-sub-header>
<div>
  <div class="container">
    <h3>Войдите, чтобы видеть больше отзывов о преподавателях</h3>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Ваш Email"  [(ngModel)]="email" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Ваш пароль" [(ngModel)]="password" required>

    <hr>
    <button (click)="login()" class="registerbtn">Войти</button>
  </div>

  <div class="container signin">
    <p>Нету аккаунта? Не проблема <a routerLink="/register"> Создайте </a>.</p>
  </div>
</div>
<app-popup [showModel]="showPopup"
           (outputToParent)="toggleShowPopup()"
           [header]="popupHeader"
           [content]="popupContent">

</app-popup>
<app-footer></app-footer>
