<section class="testimonial-section">
  <!-- Swiper -->
  <div class="swiper-container testimonial-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
              <figure class="user-avatar">
                <img src="assets/images/user-1.jpg" alt="">
              </figure><!-- .user-avatar -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
              <div class="entry-content">
                <p>Оценика спас меня от ритейка</p>
              </div><!-- .entry-content -->

              <div class="entry-footer">
                <h3 class="testimonial-user">Евгений - <span>Студент КБТУ</span></h3>
              </div><!-- .entry-footer -->
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .swiper-slide -->

      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
              <figure class="user-avatar">
                <img src="assets/images/user-2.jpg" alt="">
              </figure><!-- .user-avatar -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
              <div class="entry-content">
                <p>Помог мне в выборе преподавателя</p>
              </div><!-- .entry-content -->

              <div class="entry-footer">
                <h3 class="testimonial-user">Билал - <span>Студент МУИТ</span></h3>
              </div><!-- .entry-footer -->
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .swiper-slide -->

      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 flex order-2 order-lg-1 align-items-center mt-5 mt-lg-0">
              <figure class="user-avatar">
                <img src="assets/images/user-3.jpg" alt="">
              </figure><!-- .user-avatar -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
              <div class="entry-content">
                <p>Сервис благодаря которому меня любят</p>
              </div><!-- .entry-content -->

              <div class="entry-footer">
                <h3 class="testimonial-user">Владимир Попов - <span>Преподаватель КБТУ</span></h3>
              </div><!-- .entry-footer -->
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .swiper-slide -->
    </div><!-- .swiper-wrapper -->

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
          <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .testimonial-slider -->
</section><!-- .testimonial-section -->

