<app-header [current]="'profile'"></app-header>
<app-sub-header [title]="fullName" [url]="'/profile'"></app-sub-header>

    <div class="row" style="margin-bottom: 30px">
      <div class="col-75">
        <div class="container">
            <div class="row">
              <div class="col-50">
                <h3>Ваш профиль</h3>
                <label for="fname"><i class="fa fa-user"></i> Имя </label>
                <input type="text" id="fname" [(ngModel)]="userData.first_name" placeholder="Имя">
                <label for="lname"><i class="fa fa-address-card-o"></i> Фамилия </label>
                <input type="text" id="lname" [(ngModel)]="userData.last_name" placeholder="Фамилия">
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" [(ngModel)]="userData.email" placeholder="john@example.com" disabled>
                <label>
                  <input disabled type="checkbox" [checked]="userData.is_confirmed"> Аккаунт подтвержден?
                </label>
              </div>
              <div class="col-50">
                <h3>	&nbsp;</h3>
                <label for="phone"><i class="fa fa-phone-square"></i> Номер телефона</label>
                <input type="text" id="phone" [(ngModel)]="userData.phone" placeholder="+777777777">
                <label for="university"><i class="fa fa-university"></i> Университет</label>
                <select [(ngModel)]="userData.university">
                  <option *ngFor="let university of universities"
                          [selected]="university.id === userData.university"
                          [value]="university.id"
                  >{{university.abbreviation}}</option>
                </select>
                <div class="row">
                  <div class="col-50">
                    <label for="transcript"><i class="fa fa-file-code-o"></i> Транскрипт</label>
                    <input type="file" (change)="onFileChange($event)">
                  </div>
                  <div class="col-50">
                    <label for="current_transcript">Текущий транскрипт</label>
                    <a *ngIf="userData.transcript" class="transcript" (click)="goToLink(userData.transcript)"> Transcript</a>
                    <p *ngIf="!userData.transcript" class="transcript">Отсутствует</p>
                  </div>
                </div>
                <label for="password"><i class="fa fa-user-secret"></i> Поменять пароль</label>
                <input type="password" id="password" [(ngModel)]="userData.password" placeholder="Новый пароль">
              </div>

            </div>

            <input type="submit" (click)="updateUserProfile()" value="Обновить мой профиль" class="btn">
        </div>
      </div>
    </div>

<app-popup [showModel]="showPopup"
           (outputToParent)="toggleShowPopup()"
           [header]="popupHeader"
           [content]="popupContent">

</app-popup>
<app-footer></app-footer>
