.site-navigation ul li a {
  display: block;
  padding: 12px 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-title {
  padding: 6px 0;
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: left !important;
}

.site-navigation ul li a:hover, .site-navigation ul li.current-menu-item a {
  color: #19c880;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

.site-title a span {
  color: #19c880;
  text-decoration: none;
}

.nav-bar {
  padding: 20px 0;
  background: #d4d4d4;
}
