<app-header></app-header>
<app-sub-header [title]='"Регистрация аккаунта"' [url]="'/register'"></app-sub-header>
<div>
  <div class="container">
    <p>Пожалуйста заполните данные, чтобы создать аккаунт</p>
    <p>Эти данные анонимны, модерация использует ваши данные для удостоверения отзывов </p>
    <hr>

    <label for="email"><b>Email <span class="required"> * </span></b></label>
    <input type="email" placeholder="Enter Email" [(ngModel)]="email" required>

    <label for="psw"><b>Пароль <span class="required"> * </span> </b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" required>

    <label for="psw"><b>Имя  <span class="required"> * </span> </b></label>
    <input type="text" placeholder="Enter Password" [(ngModel)]="firstName" required>

    <label for="psw"><b>Фамилия  <span class="required"> * </span> </b></label>
    <input type="text" placeholder="Enter Password" [(ngModel)]="lastName" required>

    <label for="psw"><b>Номер телефона</b></label>
    <input type="text" placeholder="Enter Password" [(ngModel)]="phone" required>

    <label for="psw"><b>Университет  <span class="required"> * </span> </b></label>
    <select [(ngModel)]="selectedUniversity">
      <option *ngFor="let university of universities"
              [value]="university.id"
              [selected]="selectedUniversity === university.id">
        {{university.abbreviation}}
      </option>
    </select>

    <label for="psw"><b>Транскрипт</b></label>
    <input (change)="onFileChange($event)" type="file" placeholder="Enter Password" required>

    <hr>
    <p>Создавая аккаунт, вы соглашаетесь с нашими <a routerLink="/policy">Условиями и Конфиденциальностью</a>.</p>

    <button (click)="registerUser()" class="registerbtn">Создать аккаунт</button>
  </div>

  <div class="container signin">
    <p>Есть аккаунт? <a routerLink="/login">Войдите</a>.</p>
  </div>
</div>
<app-popup [showModel]="showPopup"
           (outputToParent)="toggleShowPopup()"
           [header]="popupHeader"
           [content]="popupContent"
></app-popup>
<app-footer></app-footer>
