
<div class="icon-boxes">
  <div class="container-fluid">
    <div class="flex flex-wrap align-items-stretch">
      <div class="icon-box">
        <div class="icon">
          <span class="ti-user"></span>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Найдите профессора</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Наберите в строке поиска имя профессора!</p>
        </div><!-- .entry-content -->

      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <span class="ti-folder"></span>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Прочитайте отзывы</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Изучите, что думают о преподавателе другие студенты.</p>
        </div><!-- .entry-content -->

<!--        <footer class="entry-footer read-more">-->
<!--          <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>-->
<!--        </footer>&lt;!&ndash; .entry-footer &ndash;&gt;-->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <span class="ti-book"></span>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Оцените его!</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Оставьте о нем комментарий и расскажите друзьям о нас!</p>
        </div><!-- .entry-content -->

      </div><!-- .icon-box -->


    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .icon-boxes -->
