<div class="page-header">
  <div class="page-header-overlay">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="entry-header">
            <h1>{{title}}</h1>
          </header><!-- .entry-header -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumbs">
        <ul class="flex flex-wrap align-items-center p-0 m-0">
          <li><a href="#"><i class="fa fa-home"></i>Главная</a></li>
          <li><a routerLink="{{url}}"> {{title}}</a></li>
        </ul>
      </div><!-- .breadcrumbs -->
    </div><!-- .col -->
  </div><!-- .row -->
</div>
