/*
# Site Branding
--------------------------------*/
.site-title {
  padding: 6px 0;
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: left !important;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

.site-title a span {
  color: #19c880;
  text-decoration: none;
}

@media screen and (min-width: 576px){
  /*.site-title {*/
  /*font-size: 112px;*/
  /*}*/
}
