
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 align-content-lg-stretch">
        <header class="heading">
          <h2 class="entry-title">О Нас</h2>

          <p>Информация о OCENIKA что о чем </p>
        </header><!-- .heading -->

        <div class="entry-content ezuca-stats">
          <div class="stats-wrap flex flex-wrap justify-content-lg-between">
            <div class="stats-count">
              {{metrics.reviews}}<span>+</span>
              <p>Отзывов</p>
            </div><!-- .stats-count -->

            <div class="stats-count">
              {{metrics.universities}}<span>+</span>
              <p>Университетов</p>
            </div><!-- .stats-count -->

            <div class="stats-count">
              {{metrics.professors}}<span>+</span>
              <p>Преподавателей</p>
            </div><!-- .stats-count -->

            <div class="stats-count">
              50<span>+</span>
              <p>Пользователей</p>
            </div><!-- .stats-count -->
          </div><!-- .stats-wrap -->
        </div><!-- .ezuca-stats -->
      </div><!-- .col -->

      <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
        <div class="ezuca-video position-relative">
          <div class="video-play-btn position-absolute">
          </div><!-- .video-play-btn -->
          <img src="assets/images/video-screenshot.png" alt="">
        </div><!-- .ezuca-video -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .about-section -->
