<footer id="contact-section" class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="foot-about">
<!--            <a class="foot-logo" href="#"><img src="assets/images/foot-logo.png" alt=""></a>-->
            <h1> OCENI<span style="color: #19c880;">KA</span></h1>
            <p> Текст об оценика</p>

            <p class="footer-copyright">
              Copyright &copy; Все права защищены
            </p>
          </div><!-- .foot-about -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2>Наши контакты</h2>

            <ul>
              <li>Email: info.ocenika@gmail.com</li>
              <li>Phone: +7 (777) 777 77 77</li>
              <li>Address: КБТУ адрес </li>
            </ul>
          </div><!-- .foot-contact -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
          <div class="quick-links flex flex-wrap">
            <h2 class="w-100">Быстрые ссылки</h2>
            <ul>
              <li><a href="#home-section">Главная </a></li>
              <li><a href="#university-section">Университеты </a></li>
              <li><a href="/professors">Преподаватели </a></li>
              <li><a href="#">Политика конфиденциальности </a></li>
            </ul>
          </div><!-- .quick-links -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
          <div class="follow-us">
            <h2>Подписывайтесь на нас</h2>

            <ul class="follow-us flex flex-wrap align-items-center">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div><!-- .quick-links -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widgets -->

</footer><!-- .site-footer -->
