<div class="hero-content">

  <div class="hero-content-overlay">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
            <header class="entry-header">
              <h4>Начните с Ocenika выбором профессора</h4>
              <h1>Какого профессора<br/>выбрать на этот семестр?</h1>

            </header><!-- .entry-header -->

            <div class="entry-content">
              <p>Онлайн Web-платформа для просмотра отзывов и информации о преподавателях</p>
            </div><!-- .entry-content -->

            <footer class="entry-footer read-more">
<!--              <input>-->
              <a routerLink="/professors">Найти профессора</a>
            </footer><!-- .entry-footer -->
          </div><!-- .hero-content-wrap -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .hero-content-hero-content-overlay -->
</div><!-- .hero-content -->
