<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="banner-text">
          <h2> <span class="info"> Оцени </span> преподавателя</h2>
          <div class="question">
            <h4> <span class="info">  ◉ </span>    Какого профессора выбрать на этот семестр? </h4>

            <h4>  <span class="info">  ◉ </span>   Куда поступать абитуриенту? </h4>

            <h4>  <span class="info">  ◉ </span>    Онлайн Web-платформа для просмотра отзывов и информации о преподавателях </h4>
          </div>

        </div>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</div>
